@import 'tailwindcss';
@import 'tw-animate-css';

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@theme {
  --color-background: #ffffff;
  --color-foreground: #0a0a0a;

  --color-blue: #3b82f6;
  --color-bg-blue: #dbeafe;
  --color-bg-02: #f9fafb;
  --color-text-01: #111827;
  --color-text-02: #6b7280;
  --color-text-03: #888888;
  --color-text-04: #aaaaaa;
  --color-border: #e5e7eb;
  --color-btn-disabled: #d1d5db;
  --color-btn-gray: #f2f2f2;
}

@layer base {
  html,
  body {
    font-family: 'Pretendard', sans-serif;
    background: var(--color-background);
    color: var(--color-foreground);
  }

  * {
    border-color: var(--color-border);
  }
}

/* 기본 커스텀 스크롤바 */
.scrollbar {
  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--color-neutral-400) transparent;
}

.scrollbar::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar::-webkit-scrollbar-thumb {
  background: var(--color-neutral-400);
  border-radius: 2px;
  transition: background-color 0.2s ease;
}

.scrollbar::-webkit-scrollbar-thumb:hover {
  background: var(--color-neutral-500);
}
