@import 'tailwindcss';

/* Pretendard */
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2')
    format('woff2');
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Medium.woff2')
    format('woff2');
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: 'Pretendard';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Bold.woff2')
    format('woff2');
  font-weight: 700;
  font-display: swap;
}

@theme {
  --color-blue: #3b82f6;
  --color-bg-blue: #dbeafe;
  --color-bg-02: #f9fafb;
  --color-text-01: #111827;
  --color-text-02: #6b7280;
  --color-text-03: #888888;
  --color-border-01: #e7e7e7;
  --color-border-02: #dddddd;
  --color-btn-disabled: #d1d5db;
  --color-btn-gray: #f2f2f2;

  --color-background: #ffffff;
  --color-foreground: #0a0a0a;
  --color-border: #e5e7eb;
  --color-ring: #0a0a0a;
}

@layer base {
  html,
  body {
    font-family: 'Pretendard', sans-serif !important;
  }

  * {
    border-color: var(--color-border);
    outline-color: var(--color-ring);
    font-family: inherit;
  }
}
